h1{
    color: red;
    font-family:"Impact";
    text-align:center;
    background-color:aqua
}
h2{
    color:chartreuse;
    font-family:"Impact";
    text-align:center;
    background-color:deeppink
}
h3{
  color:brown;
}
p{
    font-size:25px;
    font-weight: normal;
    color:chartreuse 
}

body{
    background-image: url("../images/04.png");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
table{
    background-color: cornflowerblue
    
}
address
{
    color: chartreuse
    
}
adress
{
color: chartreuse    
}